# artifacts
/seer

# dependencies
vendor
.DS_Store
node_modules
package-lock.json
/dist

# env files
.env

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# temp stuff
snippets.sql
